<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation=		"http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd" 
       						xmlns:tx="http://www.springframework.org/schema/tx"
	>
    
    
   <!-- Configuring the JDBC connection-->
   <bean id="dataSourceBean" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name="driverClassName" value="com.mysql.jdbc.Driver" />
      <property name="url" value="jdbc:mysql://localhost:3306/springmvc" />
      <property name="username" value="root" />
      <property name="password" value="1q2w3e" />
   </bean>
   
   <!-- Configuring the Hibernate4 Session Factory Bean -->
   <bean id="sessionFactoryBean" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
      <property name="dataSource" ref="dataSourceBean" />
      <property name="annotatedClasses">
      	<list>
			<value>com.jcg.spring.hibernate.pojo.ExitTicketEntry</value>
			<value>com.jcg.spring.hibernate.pojo.User</value>
			<value>com.jcg.spring.hibernate.pojo.UserET</value>
		</list>  
   	  </property>
      
      <property name="hibernateProperties">
         <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            <prop key="hibernate.show_sql">true</prop>
            <prop key="format_sql">true</prop>
         </props>
      </property>
   </bean>


   <bean id="hibernateTemplateBean" class="org.springframework.orm.hibernate5.HibernateTemplate">
      <property name="sessionFactory" ref="sessionFactoryBean" />
      <property name="checkWriteOperations" value="false"/> 
   </bean>
   
   <bean id="authenticateServiceBean" class="com.jcg.spring.hibernate.service.AuthService">
      <property name="hibernateTemplate" ref="hibernateTemplateBean" />
   </bean>
   
   <bean id="exitTicketServiceBean" class="com.jcg.spring.hibernate.service.ExitTicketService">
      <property name="hibernateTemplate" ref="hibernateTemplateBean" />
   </bean>
   
   <bean id="userETServiceServiceBean" class="com.jcg.spring.hibernate.service.UserETService">
      <property name="hibernateTemplate" ref="hibernateTemplateBean" />
   </bean>

	
</beans>